---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import eric from "../../assets/eric-harold.jpg";
import logo from "../../assets/neilrogers-website-logo.png";
import poll from "../../assets/neilrogers-2004-poll.png";
---

<Layout
	title="Neil Rogers - Tribute to Eric Harold"
	description="Eric Harold was the web guy for the Neil Rogers Show"
	url="/docs/eric-harold/"
>
	<main>
		<h1>Tribute to Eric Harold</h1>
		<p><em>by Michael Allen Smith - February 22, 2016</em></p>
		<p>
			Eric Harold was Neil’s web guy. He coded, hosted and maintained the NeilRogers.com website.
			Throughout the WQAM years and even before — Eric made sure that the fans of the Neil Rogers
			Show could listen to the show live or download shows via the archives.
		</p>

		<p>
			Unfortunately, Eric Harold passed away at the age of 48 in <a
				href="https://www.orlandosentinel.com/news/os-xpm-2011-03-31-os-daily-deathlist-040111-20110331-story.html"
				>March of 2011</a
			>. This was just months after Neil Rogers, who passed away on December 24, 2010. Eric was a
			one-man operation, so when no one was left to continue hosting and maintaining the
			NeilRogers.com website, it went offline in late 2011.
		</p>

		<p>
			During the very early days of the Neil Rogers audio restoration project, I started an email to
			Eric introducing myself and how I could volunteer the shows I recovered from 1999 to a much
			larger project. Halfway through the email is when I discovered I was too late and that he had
			passed away.
		</p>

		<figure>
			<Image src={eric} alt="Eric Harold" style="width:70%;" />
			<figcaption>Eric Harold</figcaption>
		</figure>

		<p>
			If you are interested in seeing the old website, the site archive.org took numerous snapshots
			going back to late 1998.
		</p>
		<p>
			<a href="https://web.archive.org/web/*/neilrogers.com">web.archive.org/web/*/neilrogers.com</a
			>
		</p>
		<figure>
			<Image src={logo} alt="NeilRogers.com banner" />
			<figcaption>NeilRogers.com banner</figcaption>
		</figure>

		<p>
			Eric was also responsible for making sure the Daily Polls that became such an important part
			of the show were working.
		</p>
		<figure>
			<Image src={poll} alt="NeilRogers.com poll" />
			<figcaption>Neil Rogers Daily Poll from June 2004</figcaption>
		</figure>

		<p>
			During the late 1990s and early 2000s, most radio shows did not have a website of the caliber
			created by Eric. These days we take for granted that we can listen live or download shows we
			missed from the archives. Back then it was rare. Being one of the first to both stream live
			and host archives extended the popularity of Neil Rogers nationally and internationally.
		</p>
		<p>
			<a href="https://wforadio.com/">Joe Castello</a> who worked with Neil Rogers at WQAM said this
			recently about Eric.
		</p>
		<blockquote>One of the best human beings that has walked the Earth.</blockquote>

		<p>
			Eric resided in Orlando and away from the Miami market. I'd love to update this post if
			someone that was close to him comes forward with more information to share. It is also
			possible that many years of old Neil Rogers Shows reside on one of his servers or backup
			media.
		</p>
		<p>
			I would like to thank Eric Harold for making the Neil Rogers Show accessible to me. I never
			lived in Miami or even heard the show live, but thanks to Eric became a fan via the audio
			archives on the NeilRogers.com website.
		</p>
	</main>
</Layout>
