---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="Neil Rogers - Tribute to Eric Harold"
	description="Eric Harold was the web guy for the Neil Rogers Show"
	url="/docs/eric-harold/"
>
	<main>
		<h1>Tribute to Eric Harold</h1>
		<p>
			Eric Harold was Neil’s web guy. He coded, hosted and maintained the NeilRogers.com website.
			Throughout the WQAM years and even before — Eric made sure that the fans of the Neil Rogers
			Show could listen to the show live or download shows via the archives.
		</p>

		<p>
			Unfortunately, Eric Harold passed away at the age of 48 in March of 2011. This was just months
			after Neil Rogers, who passed away on December 24, 2010. Eric was a one-man operation, so when
			no one was left to continue hosting and maintaining the NeilRogers.com website, it went
			offline in late 2011.
		</p>

		<p>
			During the very early days of the Neil Rogers audio restoration project, I started an email to
			Eric introducing myself and how I could volunteer the shows I recovered from 1999 to a much
			larger project. Halfway through the email is when I discovered I was too late and that he had
			passed away.
		</p>
	</main>
</Layout>
