---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import news from "../../assets/john-baker-news.png";
import logo from "../../assets/john-baker-logo.jpg";
import DocsBreadcrumbs from "../../components/DocsBreadcrumbs.astro";
---

<Layout
	title="Neil Rogers - Tribute to John Baker"
	description="John Baker was critical to helping restore audio and photos for the Neil Rogers project."
	url="/docs/john-baker/"
>
	<div class="card">
		<h1>Tribute to John Baker</h1>
		<p>Neil historian and audio archivist.</p>
		<p><em>by Michael Allen Smith - October 26, 2017</em></p>
	</div>

	<DocsBreadcrumbs title="Tribute to John Baker" />

	<p>
		Yesterday morning I received word that my friend John Baker had died. I do not know the cause of
		death, but I was aware he had been battling a sickness for a week that left him very tired.
	</p>
	<p>
		For the past five years, John was my partner on the Neil Rogers Audio Restoration project. We
		communicated via Facebook Messenger on a near-daily basis and occasionally we would chat on the
		phone. We both shared a common goal, which was to recover as much audio from the Neil Rogers
		Show as we could and make those recordings accessible to his fans.
	</p>
	<p>
		Here is a snippet from an article about the project titled <a
			href="https://neilrogers.org/rogers-still-the-talk-of-s-florida-radio-january-5-2014/"
			>Rogers still the talk of S. Florida Radio</a
		> that appeared in both the Miami Herald and Sun-Sentinel in January 2014.
	</p>
	<div class="image-container">
		<Picture src={news} formats={["avif", "webp"]} alt="neil rogers news story" class="neo-image" />
		<div class="image-caption">Neil Rogers news story</div>
	</div>
	<p>
		John was able to convert any analog format into digital from cassettes to videotapes to
		reel-to-reel recorders. Almost every recovered show prior to January 1999 went through his
		hands. He was not only able to transfer audio to digital he had an amazing ability to be able to
		date a show by just listening to a few minutes.
	</p>
	<p>
		There were a few times when John would receive a box of tapes in the mail without dates or
		incorrect dates and weeks later every clip of audio would be dated in the right sequence and
		handed off to me to add to our digital archives.
	</p>
	<p>
		If there was a sound drop that we didn't know who to credit, John would start sending out
		messages. He might spend a few hours trying to identify a 2-second clip. That is dedication.
	</p>

	<p>
		In 2013, John produced and hosted <a href="https://www.youtube.com/watch?v=OUF91XeQyMQ"
			>a show of Neil Rogers tributes</a
		>.
	</p>
	<p>
		Out of his own pocket, John paid for whatever equipment he needed to complete a task. He paid
		for postage and even took road trips to meet up with other fans of Neil with audio to share.
	</p>
	<p>
		He was a tremendous asset and without him, we would not have nearly as much audio as we were
		able to find. In addition to audio, John recovered numerous news stories related to Neil Rogers
		and South Florida radio and added them to this website. And over <a
			href="https://www.flickr.com/photos/neilrogersradio/">1,000 photos</a
		> too.
	</p>
	<p>
		With John's passing, Neil fans have lost a true historian. The upside is John was able to share
		much of his knowledge before he went. As of today, we have recovered over 5,000 hours of audio
		from Neil Rogers and other South Florida radio. Without John, a lot of that audio would have
		been lost forever.
	</p>
	<p>He will be greatly missed. RIP John.</p>
	<div class="image-container">
		<Picture
			src={logo}
			formats={["avif", "webp"]}
			alt="John Baker"
			style="width:70%;"
			class="neo-image"
		/>
		<div class="image-caption">
			I never met John face to face, as I live in Seattle, so I know him best from this image he
			used for his Facebook profile.
		</div>
	</div>
</Layout>
