---
import Layout from "../../layouts/Layout.astro";
import hof from "../../assets/jorge-and-neil-hof.jpg";
import jrshow from "../../assets/jorge-show-logo.gif";
---

<Layout
	title="Neil Rogers - Tribute to Jorge Rodriguez"
	description="Jorge Rodriguez was the long time producer and guest host of the Neil Rogers Show."
	url="/docs/john-baker/"
>
	<main>
		<h1>Tribute to Jorge Rodriguez</h1>
		<p><em>by Michael Allen Smith - July 6, 2020</em></p>
		<p>
			On Friday July 3rd, Jorge Rodriguez died of a sudden heart attack at the age of 55. Jorge was
			the long time producer and guest host for the Neil Rogers Show. After the Neil Rogers Show
			ended, Jorge continued with the Jorge Rodriguez Show, which he broadcasted online from his own
			SoFloRadio channel.
		</p>
		<figure>
			<img src={hof} alt="Jorge Rodriguez and Neil Rogers" />
			<figcaption>Jorge Rodriguez and Neil Rogers</figcaption>
		</figure>
		<p>
			I never met Jorge, but exchanged a few emails with him over the years whenever we recovered
			old episodes of the Neil Rogers Show where he was a guest host. Prior to Neil being inducted
			into the <a href="/docs/radio-hall-of-fame/">Radio Hall of Fame</a>, Jorge reached out to me
			to create a video to be used in the ceremony.
		</p>
		<p>
			My partner on the audio restoration project John Baker had more contact with Jorge. They
			worked together to bring all the Neil Rogers tribute shows that Jorge recorded over to the
			<a href="https://www.youtube.com/playlist?list=PL8h2eiL0gjh82mLXapFfo-Zp2zT0SF439"
				>Neil Rogers Tributes playlist</a
			> on our YouTube channel.
		</p>
		<figure>
			<img src={jrshow} alt="The Jorge Rodriguez Show" />
			<figcaption>When Neil was on summer break, Jorge rebranded the show's website. 😂</figcaption>
		</figure>
		<p>
			With the passing of Jorge Rodriguez, the list of people that really knew the history of the
			Neil Rogers Show continues to shrink.
		</p>
		<p>
			Shortly after Neil died in 2010, his web guy <a href="/docs/eric-harold/">Eric Harold</a> died
			at the age of 48. It was Eric's death that was the spark that ignited the race to recover as much
			audio as we could from the Neil Rogers Show. <a href="/docs/john-baker/">John Baker</a> was a tremendous
			help in making that happen. Almost 2,000 shows and <a
				href="https://www.flickr.com/photos/neilrogersradio/">1,000 photos</a
			> were added to the archive. John passed in 2017. Then Suds Coleman died in 2019. Now Jorge is
			gone.
		</p>
		<p>
			Jorge will be missed. In addition to the several tribute shows he donated to the <a
				href="https://www.youtube.com/c/NeilRogersRadio">Neil Rogers Show YouTube channel</a
			>, we have recovered 239 shows where Jorge was the guest host for Neil. Those shows can be
			found by following the links on the <a href="/audio/">Neil Rogers Audio page</a>.
		</p>
	</main>
</Layout>
