---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import neil2008 from "../../assets/neil-2008.jpg";
---

<Layout
	title="Learning to Spell with Neil Rogers"
	description="Commonly misspelled names associated with the Neil Rogers Show"
	url="/docs/learning-to-spell/"
>
	<main>
		<h1>Learning to Spell with Neil Rogers</h1>
		<p><em>by Michael Allen Smith</em></p>
		<p>Below are some common spelling mistakes associated with the Neil Rogers Show.</p>
		<ol>
			<li>NEIL not Neal</li>
			<li>ROGERS not Rodgers</li>
			<li>JORGE not George</li>
			<li>GLEN HILL not Glenn Hill</li>
			<li>STAN MAJOR not Stan Majors</li>
			<li>JEFF RIMER not Jeff Rimmer</li>
			<li>RANDI RHODES not Randy Rhoads</li>
			<li>FLEE Feldman not Flea Feldman</li>
			<li>The music producer, guitar player and member of Chic is NILE RODGERS not Neil Rogers.</li>
			<li>Phil HENDRIE not Phil Henry or Phil Hendry</li>
			<li>BRYAN COX not Brian Cox</li>
			<li>ERIN SOMERS not Erin Summers</li>
		</ol>
		<figure>
			<Picture src={neil2008} formats={["avif", "webp"]} alt="Neil Rogers" style="width:70%;" />
			<figcaption>Neil Rogers, May 2008</figcaption>
		</figure>
	</main>
</Layout>
