---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import herald from "../../assets/miami_herald_neil.jpg";
import DocsBreadcrumbs from "../../components/DocsBreadcrumbs.astro";
---

<Layout
	title="Neil Rogers - Miami Herald Covers the Neil Rogers Audio Recovery Project "
	description="Miami Herald Covers the Neil Rogers Audio Recovery Project in 2018."
	url="/docs/miami-herald-story/"
>
	<div class="card">
		<h1>Miami Herald Covers the Neil Rogers Audio Recovery Project</h1>
		<p><em>by Michael Allen Smith - April 2018</em></p>
	</div>

	<DocsBreadcrumbs title="Miami Herald Story (2018)" />

	<p>
		Yesterday, I was interviewed by Jose Lambiet for a story about this website and the YouTube
		channel we created as a tribute to Neil Rogers.
	</p>
	<div class="image-container">
		<Picture
			src={herald}
			formats={["avif", "webp"]}
			alt="Miami Herald story on Neil Rogers project"
			class="neo-image"
		/>
		<div class="image-caption">Talk host Neil Rogers is dead, but his radio archive lives on</div>
	</div>
	<p>It is a good article and I hope it attracts new fans and maybe new audio will be recovered.</p>
	<blockquote>
		Side note: If you know someone that works inside Yahoo!, read the Support section on our Docs
		page.
	</blockquote>
	<p>
		There were a few minor errors, which are probably to blame on my cell phone, which cut out
		several times during the interview.
	</p>
	<ul class="neo-list">
		<li>
			John Baker had his own personal collection of NEIL from the late 1980s. The audio we recovered
			before then and during the WIOD era (as well as the 1998 shows), were sent to him to restore,
			remaster, and convert to digital.
		</li>
		<li>
			I don't recall saying John was in Boca, but he might have lived there in the 1980s. John lived
			in Gainesville.
		</li>
		<li>
			I also don't know if Nick Abbot ever played Neil bits on his show. I do know Neil was an
			influence, which you can see on his <a
				href="https://en.wikipedia.org/wiki/Nick_Abbot"
				target="_blank">Wikipedia</a
			> page or his <a href="https://x.com/NIAbbot/status/985125553308127233" target="_blank">X</a>
			feed.
		</li>
		<li>
			Typo: “I moved to D.C. and I couldn't a radio signal in my office.” It should have read “I
			moved to D.C. and I couldn't <b>get</b> a radio signal in my office.”
		</li>
		<li>Neil was born in Rochester, NY not Canada.</li>
		<li>The archives aren't mine. They belong to all the fans.</li>
	</ul>
	<p>Here are some additional notes on the timeline of the project:</p>

	<ul class="neo-list">
		<li>June 12, 2009 — The last Neil Rogers Show</li>
		<li>December 24, 2010 — Neil Rogers dies</li>
		<li>2011 — <a href="/docs/eric-harold/">Eric Harold</a> (Neil's web guy dies)</li>
		<li>2011 — I start sharing audio via a Google Sites page</li>
		<li>2012 — The Neil Rogers YouTube channel is launched</li>
		<li>2012 — John Baker partners with me and we begin to build out the archive.</li>
		<li>2012 — NeilRogers.org starts</li>
		<li>2017 — <a href="/docs/john-baker/">John Baker</a> dies.</li>
	</ul>

	<p>
		The archive has almost 1,900 shows. Over 2,000 if you count other shows besides NEIL. This is
		5,000 hours of commercial-free audio.
	</p>

	<p>
		<a href="https://criticalmas.org/2014/01/tribute-radios-neil-rogers/" target="_blank"
			>My Tribute to Radio's Neil Rogers</a
		> — Blog post on the early history of the project
	</p>

	<p>
		John Baker was the NEIL expert. Much more than me. I was the technical guy. When Eric Harold
		died, I stepped in to help out, because I have a background in programming, databases, and
		creating websites in general.
	</p>

	<p>Thank you for supporting the Neil Rogers Audio project. You can learn more here:</p>

	<ul class="neo-list">
		<li>
			<a href="https://www.youtube.com/c/NeilRogersRadio" target="_blank">Neil Rogers Show</a> (YouTube)
		</li>
		<li><a href="https://x.com/NeilRogersRadio" target="_blank">@NeilRogersRadio</a> (X)</li>
		<li>
			<a href="https://www.flickr.com/photos/neilrogersradio/" target="_blank"
				>Neil Rogers Photo Gallery</a
			>
			(Flickr)
		</li>
	</ul>

	<p>
		The full-length original article is no longer online. You can see an archived copy <a
			target="_blank"
			href="https://web.archive.org/web/20180416143623/http://www.gossipextra.com/2018/04/13/neil-rogers-lives-neilrogers-org-86068"
			>here</a
		>.
	</p>
</Layout>
