---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import hof from "../../assets/neil-rogers-hof.jpg";
import award from "../../assets/neil-2016-award.jpg";
---

<Layout
	title="Neil Rogers 2016 Radio Hall of Fame Induction"
	description="The acceptance speech delivered by Jorge Rodriguez for Neil Rogers at the Radio Hall of Fame."
	url="/docs/radio-hall-of-fame/"
>
	<main>
		<h1>Neil Rogers 2016 Radio Hall of Fame Induction</h1>
		<p><em>by Michael Allen Smith - December 21, 2016</em></p>
		<p>
			In 2016 Neil Rogers was inducted into the <a
				href="https://www.radiohalloffame.com/neil-rogers">National Radio Hall of Fame</a
			>. The <a href="https://www.youtube.com/watch?v=yZp_9jOA6Ys">acceptance speech</a>
			 was delivered by his long time producer Jorge Rodriguez.
		</p>

		<blockquote>
			Thank you thank you Scott Shannon. Neil used to say never trust anybody with two first names.
			OK, boy it's tough tough crowd. Don't worry I'm not going to talk for a long time so don't
			freak out. I'm not going to read Neil's Wikipedia entry you can and the literature that you
			have there is all pretty accurate for the most part. Not everything but nevertheless.
		</blockquote>
		<blockquote>
			I just want to say that you know Neil would have been 74 the 5th of this month and on the 4th
			which was a Friday I do my internet humble little internet radio show what you can hear on
			sofloradio.com. And around his birthday we like to celebrate and wax nostalgic about the good
			old days and on this particular show I was joined by Joe Castello, my backup producer, who
			produced Neil's show if I was not available and produced my show if I sat in for Neil under
			the Beasley regime at WQAM. We were also joined by Brit Somers formerly known as Boca Brian
			soundsmith extraordinaire — who assembled the audio clip that we're about to hear — and as
			we're listening to it and it was very poignant nostalgic for us we agreed that many of the
			people in the room probably wouldn't get it because not something Neil…the Neil show is not
			something that you can get in three or four minutes.
		</blockquote>
		<blockquote>
			Indeed it took me the better part of a month as his producer before I figured out what was
			going on. It sounded like just mean man insulting everything and everyone. Callers calling up
			and kissing his butt. Neil would insult them for doing so and then they would call back. So it
			didn't sound like a radio show. To me it sounded like madness but people say it's oh it's an
			acquired taste. I've heard people say that it's an acquired taste but I think that more
			accurately describes something that you get used to like Limburger or something as opposed to
			a joke that you're not getting or that you're not in on, until you are, until you do, and then
			you get it and then you're hooked.
		</blockquote>
		<blockquote>
			It was vaudeville. It was live spontaneous vaudeville complete with slapstick and pratfalls,
			pies in your face and Neil was the one throwing pies and throwing banana peels out there and
			it was very spontaneous. As matter of fact I've never worked on a show that had less planning.
			I can't imagine a show that has less planning because we didn't plan the show at all and the
			hour or so before the show Neil and I would discuss all the things that we wouldn't be able to
			discuss on the show because when you're doing stream-of-consciousness you never know what's
			gonna come falling out of your mouth and get you in trouble. So I would tell people if you
			like Neil show you think that Neil is brave and acerbic and you know a lot of balls during his
			show, you should hear that the pre-show — that's the real show, but it was it was brave.
		</blockquote>
		<blockquote>
			He was a very brave man we didn't screen the calls at all or very little. If I did answer the
			phones it was just to ask what city they were calling from so that they would have a point of
			reference. I've worked on other shows where the call screening was was so intense that it was
			practically an orchestrated situation.
		</blockquote>
		<blockquote>
			Neil didn't fear what a caller would say. He didn't care. He was going to get the best of
			them. They weren't going to get the best of him. He was that quick and everything was a setup
			he had to come back for everything and if you did set him up intentionally in vaudeville
			fashion it was magical. It was very flattering when he would set me up and allow me to deliver
			the punch line. I was very honored when he would do that.
		</blockquote>
		<blockquote>
			South Florida is a mixed bag of nuts. A great big bag of mixed nuts. Those of us who live
			there, we live there on purpose. We're free to leave and and yet there we are. So obviously we
			like something about it, but there's a lot about South Florida frustrates us and Neil would
			take those sources of frustration and like straw spin it into comedy gold. It made it less bad
			because it gave us the ability to laugh at the things that were bothering us. When it was the
			bridges being stuck in the up position or anything else that was very unique to South Florida.
			If you've ever lived in South Florida or visited South Florida you might know what I'm talking
			about.
		</blockquote>
		<blockquote>
			It was a magical time. For over 30 years Neil emceed what was going on there. It was a giant
			round-table discussion that included everybody who had the nerve and was brave enough or crazy
			enough to call in and enter the atmosphere that Neil maintained and presided over. It was an
			atmosphere of quality. He had very high standards for what went on on his show and I was
			honored to be up to those standards. He was already very popular by the time I joined the show
			for the last 19 years of it and I'm just happy that Neil felt that I was worthy enough to stay
			there with him to the end.
		</blockquote>
		<blockquote>
			The clip that you're about to hear was assembled by Boca Brit formerly Boca Brian and if you
			enjoy it half as much as I do that means that I'll be enjoying it twice as much as you. Roll
			it!
		</blockquote>
		<p>
			After the video played, Scott Shannon and Jorge Rodriguez complete the Neil Rogers portion of
			the ceremony.
		</p>

		<blockquote>
			(Scott Shannon) Ladies and gentlemen into the National Radio Hall of Fame: Mr. Neil Rogers and
			accepting Jorge Rodriguez.
		</blockquote>
		<blockquote>
			(Jorge Rodriguez) Thank you. On behalf of Neil I want to thank the South Florida audience, the
			people who contributed to the show, producers like Joe Castello, Miguel Escobar and people
			that were responsible for a lot of the audio production on the show KJ, Adam “Guitar Man”
			Austin, Mitch Lewis and of course the world's greatest parodist and songsmith Boca Brian who
			now lives abroad as Boca Brit Sommers. Thank you very much and Boca you deserve a piece of
			this. I'm gonna put it in my studio and so when you come over next time I might let you touch
			it and the award too.
		</blockquote>

		<figure>
			<Image src={hof} alt="Neil Rogers 2016 Radio Hall of Fame" />
			<figcaption>Neil Rogers 2016 Radio Hall of Fame</figcaption>
		</figure>

		<figure>
			<Image src={award} alt="Neil Rogers Radio Hall of Fame Award" />
			<figcaption>Neil Rogers Radio Hall of Fame Award</figcaption>
		</figure>
	</main>
</Layout>
