---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import uncle from "../../assets/neil-wiod-restored.jpg";
---

<Layout
	title="Neil Rogers - Interview with Radio Ink (January 2014) "
	description="The unpublished interview of the Neil Rogers Audio Restoration Project"
	url="/docs/radio-ink-interview/"
>
	<div class="card">
		<h1>Interview with Radio Ink (January 2014)</h1>
		<p><em>by Michael Allen Smith - February 17, 2016</em></p>
	</div>

	<p>
		<em>
			** I was interviewed by Radio Ink in January 2014 regarding the NEIL Audio Restoration
			Project. The interview was never published and the “reporter” never returned follow up emails.
			Here is the interview assembled from that email thread. **
		</em>
	</p>
	<hr />
	<p>RI: Who's behind keeping the memory of Neal alive? Why?</p>
	<p>MAS: FYI it is spelled NEIL, not Neal.</p>
	<p>
		The community of those of us keeping the memories of Neil Rogers alive are on The Neil Rogers
		Facebook group. Members of the group not only include fans that listened to Neil throughout his
		33-year career in Miami, but the group also includes people that worked with Neil.
	</p>
	<p>
		The audio restoration project was a result of a few things. First was when Neil's webmaster Eric
		Harold died. He ran the NeilRogers.com site by himself. I knew that it was just a matter of time
		before the site would go dark, so I collected all the audio I could from the site. I also used
		archive.org to grab as many shows as possible from different snapshots taken of the site going
		back 10 years.
	</p>

	<p>
		Once we had this audio, at first it was placed on a file-sharing site for download. Others
		stepped forward with more audio to share. Then YouTube announced it would no longer cap uploads
		to 15 minutes. At that point, all the shows went up in their entirety. That attracted more fans,
		several of which had more audio to share.
	</p>
	<p>
		The project started with 60 shows from 1999 and now has over 1,700 shows going back to 1987. As
		more people find the shows, I expect more audio will be located and shared.
	</p>
	<hr />
	<p>RI: What have you put together? A website? FB page, etc.</p>
	<p>
		MAS: We have a website (NeilRogers.org), YouTube channel, a Facebook Group, Twitter, Flickr for
		photos, Google+ and even Pinterest.
	</p>
	<hr />
	<p>RI: How many people engage in all of this?</p>
	<p>
		MAS: On an average month the videos on YouTube get 15,000 views. In 2013, over 2.5 million
		minutes were listened to just on YouTube. This doesn't include MP3 downloads. The Facebook group
		has over 1,600 members.
	</p>
	<hr />
	<p>RI: What feedback do you get?</p>
	<p>
		MAS: People love discovering old Neil Rogers shows that were assumed to have been lost forever.
		I myself can listen to shows broadcasted years before I discovered the show.
	</p>
	<hr />
	<p>
		RI: In addition to those who believed Neal was a great broadcaster, there were many others who
		say he was the meanest person they ever met. What are your thoughts on that?
	</p>
	<p>MAS: I never met NEIL, so I can't answer that question.</p>
	<hr />
	<p>RI: How long do you plan to keep this going?</p>
	<p>
		MAS: When Eric Harold died there was no backup procedure in place. I also saw how the Bob
		Lassiter fans were left hanging when the Airchecks site lost all their audio. I made sure that
		wouldn't happen with the Neil Rogers Audio Restoration Project. We have a document shared with
		core individuals with accounts, passwords, and detailed instructions on what to do should any of
		us ever step away from the project. Also, all the shows are backed up in at least 5 places — not
		counting downloads — so there is almost zero risk of audio loss.
	</p>
	<figure>
		<Picture src={uncle} formats={["avif", "webp"]} alt="Neil Rogers" style="width:70%;" />
		<figcaption>Neil Rogers</figcaption>
	</figure>
</Layout>
