---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import neil_sigh from "../assets/neil-sigh.jpg";
---

<Layout
	title="404 Page Not Found"
	description="Welcome to the Neil Rogers audio restoration project."
	url="/404/"
>
	<main>
		<h1>😬 404 Page Not Found</h1>

		<p>This page you are looking for doesn't exist. Return to the <a href="/">Home page</a>.</p>

		<figure>
			<Picture src={neil_sigh} formats={["avif", "webp"]} alt="Neil Rogers sigh" />
			<figcaption>Neil Rogers</figcaption>
		</figure>
	</main>
</Layout>
