---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import neil_rogers_pope from "../assets/neil-pope-restored.jpg";
---

<Layout
	title="Download The Neil Rogers Show"
	description="Download audio from the Radio God Neil Rogers."
	url="/audio/"
>
	<div class="card">
		<h1>📻Download Neil Rogers Audio</h1>
		<p>
			The Neil Rogers Audio Restoration Project has recovered
			<mark>
				<b>5,000 hours of commercial-free radio</b>
			</mark>. In addition to Neil Rogers, we also have shows from other South Florida radio icons.
			You are free to use the links below to download everything for free. No account is required.
		</p>
	</div>

	<div class="breadcrumbs">
		<a href="/">Home</a>
		<span class="separator">&gt;</span>
		<span>Download Audio</span>
	</div>

	<section>
		<aside>
			<h3>YouTube</h3>

			<p>
				Almost all of the recovered shows can be played on YouTube. There might be some shows that
				have been blocked for copyright issues based on a song that NEIL played during a broadcast.
				Copyright blocking changes over time and is based upon your country of origin.
			</p>
			<div class="parent-container">
				<a
					href="https://www.youtube.com/c/NeilRogersRadio"
					class="external-link-button"
					target="_blank"
					rel="noopener noreferrer"
				>
					Visit YouTube
					<span class="icon">↗</span>
				</a>
			</div>
		</aside>

		<aside>
			<h3>Archive.org</h3>
			<p>
				Archive.org now hosts all our Neil Rogers Show (plus the <a
					href="https://archive.org/details/RickSudsShow"
					target="_blank"
					rel="noopener noreferrer">Rick & Suds Show</a
				> and
				<a
					href="https://archive.org/details/stan-major-show"
					target="_blank"
					rel="noopener noreferrer">Stan Major</a
				>). There you can stream, download, or torrent. We even have a folder for unedited shows
				that still have the original commercials.
			</p>
			<div class="parent-container">
				<a
					href="https://archive.org/details/@neil_rogers_radio"
					class="external-link-button"
					target="_blank"
					rel="noopener noreferrer"
				>
					Visit Archive
					<span class="icon">↗</span>
				</a>
			</div>
		</aside>
	</section>
	<section>
		<aside>
			<h3>OneDrive</h3>
			<p>All the shows and photos are also available for download on OneDrive.</p>
			<div class="parent-container">
				<a
					href="https://t.co/dWGtbjuJlV?amp=1"
					class="external-link-button"
					target="_blank"
					rel="noopener noreferrer"
				>
					Visit OneDrive
					<span class="icon">↗</span>
				</a>
			</div>
		</aside>
		<aside>
			<h3>Google Drive</h3>
			<p>
				You can view our Google Drive Spreadsheet for a list of recovered audio. This document
				includes dates and some show notes.
			</p>

			<div class="parent-container">
				<a
					href="https://docs.google.com/spreadsheets/d/1czK9DiOqCK_P8lYS5Im8a_u9IZnKW39lBAuq3FXdmRM/edit?usp=sharing"
					class="external-link-button"
					target="_blank"
					rel="noopener noreferrer"
				>
					Open Sheet
					<span class="icon">↗</span>
				</a>
			</div>
		</aside>
	</section>

	<div class="parent-container">
		<div class="image-container">
			<Picture
				src={neil_rogers_pope}
				formats={["avif", "webp"]}
				alt="Neil Rogers as The Pope"
				class="neo-image"
			/>
			<div class="image-caption">Neil Rogers as The Pope</div>
		</div>
	</div>

	<section>
		<p>
			We have recovered every single "Best of CD" that Neil released. Some of the early years were
			recovered from cassette.
		</p>
		<div>
			<ul>
				<li>
					<a
						href="https://1drv.ms/u/s!AgQrITkx1J-8pPcHiQJAWd_dwKJKGw?e=yc35P0"
						target="_blank"
						rel="noopener noreferrer">OneDrive</a
					> (Sounds and CDs folder)
				</li>
				<li>
					<a
						href="https://www.youtube.com/playlist?list=PL8h2eiL0gjh9ccaSm8yEwCOWo7cHJ33Cd"
						target="_blank"
						rel="noopener noreferrer">YouTube</a
					>
				</li>
				<li>
					<a
						href="https://archive.org/details/@neil_rogers_radio"
						target="_blank"
						rel="noopener noreferrer">Archive.org</a
					>
				</li>
			</ul>
		</div>
	</section>
</Layout>
