---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import neil_mask from "../assets/neil-mask-radio.jpg";
---

<Layout
	title="The Neil Rogers Show - Preserving the Legacy of the Radio God"
	description="Welcome to the Neil Rogers audio restoration project."
	url=""
>
	<div class="card">
		<h1>🎙The Neil Rogers Show</h1>
		<p>
			NeilRogers.org is the work of a collection of fans dedicated to preserving the memory of
			radio's Neil Rogers. Our primary goal is locating and sharing audio files. In addition to Neil
			Rogers, the archive includes audio from other Florida radio icons such as Bob Lassiter, Stan
			Major, Rick & Suds, Ron Bennington, Bill Calder, Mike Spindell, Glen Hill, and others.
		</p>
	</div>

	<p>
		If you have audio from Neil Rogers that you would like to share, we would love to add it to our
		archives. In addition to Neil, we also are archiving other Florida talk shows. Our email is <b
			>audio@neilrogers.org</b
		>. Thank you.
	</p>
	<p>
		To learn more about radio legend Neil Rogers see read our <a href="/timeline/">Timeline</a> or visit
		his <a href="https://en.wikipedia.org/wiki/Neil_Rogers">Wikipedia</a> page.
	</p>

	<div class="parent-container">
		<div class="image-container">
			<Picture
				src={neil_mask}
				formats={["avif", "webp"]}
				alt="Neil Rogers with a mask of himself"
				class="neo-image"
				loading="eager"
			/>
			<div class="image-caption">Neil Rogers</div>
		</div>
	</div>

	<h2>Connect and Share</h2>
	<div>
		<ul class="neo">
			<li><a href="https://www.youtube.com/c/NeilRogersRadio">YouTube</a></li>
			<li><a href="https://x.com/NeilRogersRadio">X</a></li>
			<li>
				<a href="https://www.flickr.com/photos/neilrogersradio">Flickr</a>,
				<a href="https://archive.org/details/neil-rogers-photos">Archive</a>
				(Archive of Neil Rogers' photos)
			</li>
			<li>
				<a href="https://www.flickr.com/photos/133613327@N06/">Flickr</a> (by Neil Rogers History)
			</li>
			<li><a href="https://www.instagram.com/neilrogersradio/">Instagram</a></li>
			<li>
				<a href="https://www.instagram.com/neilrogersradiohistory/"> Instagram</a> (by Neil Rogers Radio
				History)
			</li>
			<li><a href="https://github.com/NeilRogersRadio">GitHub</a></li>
		</ul>
	</div>

	<h2>Friends of Neil</h2>

	<div>
		<ul>
			<li><a href="https://soflochannel.com/">SoFloChannel</a> (streaming Neil and Jorge)</li>
			<li>
				<a
					href="https://www.youtube.com/watch?list=PLWLdPbUmHlwEHf-KDM_aCLFQJezAvQ4lX&v=gC5xglFjNdE"
				>
					Jorge Rodriguez (RIP)
				</a> (YouTube Playlist)
			</li>
			<li>
				<a href="https://sites.google.com/site/donbrowne/wiod"> The Rick & Suds Show</a>
			</li>
			<li><a href="https://www.normkentshow.com/">Norm Kent (RIP)</a></li>
			<li><a href="http://www.thebritsomersshow.com/">Brit Somers</a></li>
			<li><a href="https://stanmajor.blogspot.com/">Stan Major (RIP)</a></li>
		</ul>
	</div>

	<h3>Copyright Disclaimer Under Section 107 of the Copyright Act 1976</h3>
	<p>
		This site does not claim to hold copyrights for the audio being shared. It is being shared as
		“fair use” under the Copyright Act of 1976.
	</p>
	<p>
		Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for “fair
		use” for purposes such as criticism, comment, news reporting, teaching, scholarship, and
		research. Fair use is a use permitted by copyright statute that might otherwise be infringing.
		Non-profit, educational or personal use tips the balance in favor of fair use.
	</p>
	<p>
		If an advertisement appears on one of our YouTube videos, it is because YouTube has detected a
		copyright claim by a music piece played during the show. The owner of that copyrighted piece of
		music is the receiver of that advertising compensation, not this site.
	</p>
</Layout>
