---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import neil_rogers_show from "../assets/neil-rogers-show.jpg";
---

<Layout
	title="Neil Rogers - Listen to the Neil Rogers Show Podcast"
	description="Listen to the Neil Rogers Show Podcast"
	url="/listen/"
>
	<div class="card">
		<h1><span class="emoji">👂🏽</span>Podcast</h1>

		<p>
			<b>The Neil Rogers Show</b> is available as a daily podcast. A show is released each morning. All
			the shows can also be downloaded directly from the resources on our Audio page.
		</p>
	</div>

	<div class="breadcrumbs">
		<a href="/">Home</a>
		<span class="separator">&gt;</span>
		<span>Podcast</span>
	</div>

	<h3>Neil Rogers Podcast Schedule</h3>

	<div class="schedule-container">
		<div class="schedule-column">
			<div class="schedule-day">
				<div class="schedule-day-header">Sunday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">2008-2009 *</div>
				</div>
			</div>
			<div class="schedule-day">
				<div class="schedule-day-header">Monday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">1977-1989 *</div>
				</div>
			</div>
			<div class="schedule-day">
				<div class="schedule-day-header">Tuesday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">1990-1997</div>
				</div>
			</div>
			<div class="schedule-day">
				<div class="schedule-day-header">Wednesday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">1998-2001</div>
				</div>
			</div>
		</div>
		<div class="schedule-column">
			<div class="schedule-day">
				<div class="schedule-day-header">Thursday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">2002-2003</div>
				</div>
			</div>
			<div class="schedule-day">
				<div class="schedule-day-header">Friday</div>
				<div class="schedule-day-content">
					<div class="schedule-item">2004-2005</div>
				</div>
			</div>
			<div class="schedule-day">
				<div class="schedule-day-header">Saturday</div>
				<div class="schedule-day-content">2006-2007</div>
			</div>
		</div>
	</div>

	<p>* All shows from this time period have been uploaded and can be found in the archives.</p>

	<p>
		Shows are first published on Spotify, then on all other podcast platforms. Sometimes the delay
		to other providers can be 12-24 hours. This is out of our control.
	</p>

	<h3>Listen to the Neil Rogers Podcast on:</h3>

	<ul class="neo-list">
		<li>
			<a
				target="_blank"
				href="https://music.amazon.com/podcasts/299b0ce8-1edf-4a9e-bb16-6c1fa63bfc90/Neil-Rogers-Show?"
			>
				Amazon Music
			</a>
		</li>
		<li>
			<a href="https://castbox.fm/channel/Neil-Rogers-Show-id539213" target="_blank">Castbox</a>
		</li>
		<li>
			<a href="https://itunes.apple.com/us/podcast/neil-rogers-show/id1231601174" target="_blank"
				>iTunes</a
			>
		</li>
		<li>
			<a href="https://open.spotify.com/show/2eQORHonddaXiNLPrVDbH3" target="_blank">Spotify</a>
		</li>
		<li><a href="http://feeds.feedburner.com/NeilRogersShow" target="_blank">Podcast RSS</a></li>
	</ul>
	<p>
		If your podcast provider does not have the <b>Neil Rogers Show</b>, email <b
			>audio@neilrogers.org</b
		> or message <b>@NeilRogersRadio</b> on X, and we'll work to add it.
	</p>

	<div class="parent-container">
		<div class="image-container">
			<Picture
				src={neil_rogers_show}
				formats={["avif", "webp"]}
				alt="Neil Rogers Show"
				class="neo-image"
			/>
			<div class="image-caption">Neil Rogers Show</div>
		</div>
	</div>

	<h3>100% Non-Commercial</h3>
	<p>
		These podcasts and our YouTube channel are a hobby and not a business. We do not accept
		sponsors. Do not reach out to us with a proposal to monetize either. Neil died in 2010, so don't
		ask to be interviewed on the podcast. Your email will be blocked, marked as SPAM, and deleted.
	</p>

	<h3>South Florida Radio Archives</h3>
	<p>Our 2nd podcast "South Florida Radio Archives" is no longer active.</p>
</Layout>
