---
import Layout from "../layouts/Layout.astro";
import JSONData from "../data/soundboard.json";
import FullSoundboard from "../components/FullSoundboard";
import FilteredSoundList from "../components/FilteredSoundList";

const sounds = JSONData.files;
---

<Layout
	title="The Neil Rogers Soundboard - Play drops from Neil, Jim Mandich, Larry King, and More!"
	description="Soundboard for Neil Rogers, Jennifer Rehm, Jim Mandich, Larry King and more!"
	url="/soundboard/"
>
	<div class="card">
		<h1><span class="emoji">🔊</span>The Neil Rogers Soundboard</h1>
		<p>
			Welcome to the Neil Rogers Soundboard. Here you can play drops from Neil Rogers, Jennifer
			Rehm, Jim Mandich, Larry King, and more.
		</p>
	</div>

	<div class="breadcrumbs">
		<a href="/">Home</a>
		<span class="separator">&gt;</span>
		<span>Neil Rogers Soundboard</span>
	</div>

	<FilteredSoundList sounds={sounds} client:load />

	<p>
		You can also download these drops on <a
			href="https://archive.org/details/neil-rogers-show-soundboard"
			target="_blank">Archive</a
		> or
		<a href="https://github.com/NeilRogersRadio/sounds/tree/master/drops" target="_blank">GitHub</a
		>.
	</p>
</Layout>
