---
import Layout from "../layouts/Layout.astro";
import neil_rogers_pope from "../assets/neil-pope-restored.jpg";
---

<Layout
	title="Neil Rogers Timeline - The History of the Radio God"
	description="A brief history of radio's Neil Rogers."
	url="https://neilrogers.org/timeline/"
>
	<main>
		<h1>⌚Neil Rogers Timeline</h1>
	</main>
</Layout>
