<footer class="neo-footer">
	<div class="footer-content">
		<div class="footer-section">
			<h4>Navigation</h4>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/listen">Podcast</a></li>
				<li><a href="/audio">Download Audio</a></li>
				<li><a href="/timleine">Timeline</a></li>
				<li><a href="/docs">Docs</a></li>
				<li><a href="/soundboard">Soundboard</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h4>Connect</h4>
			<ul>
				<li><a href="https://www.youtube.com/c/NeilRogersRadio" target="_blank">YouTube</a></li>
				<li><a href="https://x.com/NeilRogersRadio" target="_blank">X</a></li>
				<li><a href="https://www.flickr.com/photos/neilrogersradio" target="_blank">Flickr</a></li>
				<li><a href="https://www.instagram.com/neilrogersradio" target="_blank">Instagram</a></li>
				<li><a href="https://github.com/NeilRogersRadio" target="_blank">GitHub</a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>
				2012-{new Date().getFullYear()} NeilRogers.org is a project maintained by <a
					href="https://michaelallensmith.com/">Michael Allen Smith</a
				> with the support of Neil's heir, attorney, and fans. NeilRogers.org does not track users or
				display ads. No pop-up windows either. It is a 100% non-commercial hobby site. The code for this
				site is freely available on
				<a href="https://github.com/digitalcolony/neil-rogers-org">GitHub</a>. Use however you like.
			</p>
		</div>
	</div>
</footer>
