<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/podcast">Podcast</a></li>
		<li><a href="/timeline">Timeline</a></li>
		<li><a href="/docs">Docs</a></li>
		<li><a href="#">Soundboard</a></li>
	</ul>
</nav>
