---
import ThemeIcon from "./ThemeIcon.astro";
export interface Props {
	url: string;
}

const { url } = Astro.props;
---

<header>
	<div class="container">
		<nav>
			<div class="site-title">Neil Rogers Show</div>
			<ul>
				<li>{url === "" ? <span class="active">Home</span> : <a href="/">Home</a>}</li>
				<li>
					{
						url === "/listen/" ? (
							<span class="active">Podcast</span>
						) : (
							<a href="/listen/">Podcast</a>
						)
					}
				</li>
				<li>
					{url === "/audio/" ? <span class="active">Audio</span> : <a href="/audio/">Audio</a>}
				</li>
				<li>
					{
						url === "/timeline/" ? (
							<span class="active">Timeline</span>
						) : (
							<a href="/timeline/">Timeline</a>
						)
					}
				</li>
				<li>{url === "/docs/" ? <span class="active">Docs</span> : <a href="/docs/">Docs</a>}</li>
				<li>
					{
						url === "/soundboard/" ? (
							<span class="active">Soundboard</span>
						) : (
							<a href="/soundboard">Soundboard</a>
						)
					}
				</li>
			</ul>
			<div id="hamburger-menu">☰</div>
			<button id="theme-toggle">☀️</button>
		</nav>
	</div>
</header>

<script>
	const themeToggle = document.getElementById("theme-toggle");
	const body = document.body;
	const hamburgerMenu = document.getElementById("hamburger-menu");
	const navUl = document.querySelector("nav ul");

	themeToggle.addEventListener("click", () => {
		body.dataset.theme = body.dataset.theme === "dark" ? "light" : "dark";
		themeToggle.textContent = body.dataset.theme === "dark" ? "🌙" : "☀️";
	});

	hamburgerMenu.addEventListener("click", () => {
		navUl.classList.toggle("show");
	});
</script>
