---
import { getCollection, type CollectionEntry } from "astro:content";

const stories: CollectionEntry<"stories">[] = await getCollection("stories");

// sort stories by title
stories.sort((a, b) => {
	if (a.data.title < b.data.title) {
		return -1;
	}
	if (a.data.title > b.data.title) {
		return 1;
	}
	return 0;
});
---

<ul>
	{
		stories &&
			stories.map((story) => (
				<li>
					<a href={`/docs/radio-stories/${story.slug}`}>{story.data.title}</a>
				</li>
			))
	}
</ul>
