---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import RadioStoriesList from "../../../components/RadioStoriesList.astro";

const allStories = await getCollection("stories");
---

<Layout
	title="Radio Stories"
	description="South Florida radio stories from the 1990s"
	url="/radio-stories/"
>
	<h1>Radio Stories</h1>

	<RadioStoriesList stories={allStories} />
</Layout>
