---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import RadioStoriesList from "../../../components/RadioStoriesList.astro";
import DocsBreadcrumbs from "../../../components/DocsBreadcrumbs.astro";

const allStories = await getCollection("stories");
---

<Layout
	title="Neil Rogers Radio Stories | The Neil Rogers Show"
	description="Behind-the-scenes South Florida radio stories from the Neil Rogers Show, collected from fans and colleagues."
	url="/docs/radio-stories/"
>
	<div class="card">
		<h1>Radio Stories</h1>

		<p>These Miami radio stories were copied from a Neil Rogers Facebook group (2013-2014).</p>
	</div>

	<DocsBreadcrumbs title="Radio Stories" />

	<RadioStoriesList stories={allStories} />
</Layout>
