---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import RadioStoriesList from "../../components/RadioStoriesList.astro";

const allStories = await getCollection("stories");

console.log(allStories);
---

<Layout title="Radio Stories" description="add description here" url="/radio-stories/">
	<main>
		<h1>😂 Radio Stories</h1>

		<RadioStoriesList stories={allStories} />
	</main>
</Layout>
